* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    margin: 1rem;
    text-align: center;

}

.nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: left;
    /* shift to the right */
    /* align-self: center; */
    gap: 2rem;
    padding: 0 1rem;
    align-items: stretch;

}

.site-title{
    font-size: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li{
    --h: 1.2em;

    line-height: 1.2em;
    color: #0000;
    text-shadow: 
        0 0 #000, 
        0 1.2em #0000;
        ;
    overflow: hidden;
    transition: .3s;
}

.nav li.active{
    color: #6B80DB;
    /* background-color: #555; */
}

.nav li:hover{
    /* background-color: #777;
    height: 50px;
    width: 100px; */
    text-shadow: 
    0 -1.2em #0000,
    0 0 #6B80DB;
    
}



.logo {
    margin-top: 4%;
    width: 50px;
    height: 50px;
}

.sign-up-btn {
    width: 100px;
    height: 100px;
}

.boxwrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 95vh;
    width: 100%;
}

#box1 {
        height: 55%;
        width: 60%;
        border: solid 1px #000000;
        background-color: gray;
        margin-right: 3%;
        margin-left: 2.5%;
}

.boxwrapper2 {
    display: flex;
    flex-direction: column;
    height: 58%;
    width: 527px;
}

.boxwrapper3{
    display: flex;
    justify-content: center;
    margin-right: 5%;
    align-items: right;
    flex-direction: row;
    margin-top: 4%;
    text-align: center;
}

#box2 {
    height: 20%;
    width: 95%;
    margin-bottom: 5%;
    
}

#box3 {
    height: 70%;
    width: 95%;

}

input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border:2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 12px 20px;
    background-color: #f8f8f8;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }

  #submitBut {
    background-color: #6B80DB; 
    border: 1px solid black;
    color: white;
    /* padding: 15px 32px; */
    font-size: 17px;
    width: 127px;
    height: 40px;
    border-radius: 5px;
    bottom: 15px

}


.log-out-btn {
    background-color: white; 
    border: 1px solid black;
    color: black;
    /* padding: 15px 32px; */
} 

.otherButs {
    background-color: white; 
    border: 1px solid black;
    color: black;
    margin-right: 2%;
    margin-left: 3%;
    font-size: 17px;
    width: 127px;
    height: 40px;
    border-radius: 5px;
    bottom: 15px
}

.choose {
  display: inline-block;
  text-align: center;
  padding-top: 2%;
  background-color: white; 
    border: 1px solid black;
    color: black;
    margin-right: 2%;
    margin-left: 3%;
    font-size: 17px;
    width: 127px;
    height: 40px;
    border-radius: 5px;
    bottom: 15px
    
    
}

#chooseBut {
  display: none;
}


.input-box{
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-grow: 5px;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
}

.email{
    background-color: white; 
    /* border: 1px solid black; */
    color: grey;
    /* position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 17px;
    width: 292px;
    height: 40px;
    border-radius: 5px;
    bottom: 15px
}


.password{
    background-color: white; 
    /* border: 1px solid black; */
    color: grey;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 17px;
    width: 292px;
    height: 40px;
    border-radius: 5px;
    bottom: 15px
}

.btns{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-grow: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 35px;
}

.Message{
    font-family: Helvetica, Sans-Serif;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.Title{
    font-family: Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: bold;
    position: static;
    transform: translate(-42%, -5%);
    margin-top: 20px;
}

.Content{
    font-family: Helvetica, Sans-Serif;
    font-size: 17px;
    position: static;
    transform: translate(1%, 2%);
    text-align: left;
    line-height: 25px;
    width: 95%;
}
.bulletcap {
    display:initial;
    transition: 5s;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
    /* display:none; */
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;

    
  }
}

.video-player {
  height: 100%;
}

.video-watch {
  height: 100%;
  margin-bottom: 90px;
}