* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  margin: 1rem;
  text-align: center;

}

.nav{
  background-color: white;
  color: black;
  display: flex;
  justify-content: left;
  /* shift to the right */
  /* align-self: center; */
  gap: 2rem;
  padding: 0 1rem;
  align-items: stretch;

}

.site-title{
  font-size: 2rem;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}


.logo {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}

.box-wrapper {
  height: 100vh;
  width: 100%;
  display: flex; 
  text-align: center;
  flex-direction: column;
  display:flow-root; 
}

#box1{
  background-color: rgb(244, 227, 212);
  box-align: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 1298px;
  text-align: center;
  margin-bottom: 1rem;
}

p1{
  font-size: 30px;
  text-align: left;
}

.box-wrapper2{
  text-align: auto;
  margin-right: 20px;
}
#box2{
  background-color: aliceblue;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  height: 800px;
  width: 800px;
  vertical-align: middle;
  text-align: center; 
  display: inline-block;
  width: 311px;
  height: 181px;
  background-color: lightgray;
  border: 1px solid;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-align: center;


}

.boxwrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 95vh;
  width: 100%;
}

#box1 {
      height: 55%;
      width: 60%;
      border: solid 1px #000000;
      background-color: gray;
      margin-right: 3%;
      margin-left: 2.5%;
}

.boxwrapper2 {
  display: flex;
  flex-direction: column;
  height: 58%;
  width: 527px;
}

.boxwrapper3{
  display: flex;
  justify-content: center;
  margin-right: 5%;
  align-items: right;
  flex-direction: row;
  margin-top: 4%;
}

#box2 {
  height: 20%;
  width: 95%;
  margin-bottom: 5%;
  
}

#box3 {
  height: 70%;
  width: 95%;

}

input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border:2px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  padding: 12px 20px;
  background-color: #f8f8f8;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

#submitBut {
  background-color: #6B80DB; 
  border: 1px solid black;
  color: white;
  /* padding: 15px 32px; */
  font-size: 17px;
  width: 127px;
  height: 40px;
  border-radius: 5px;
  bottom: 15px

} 

.otherButs {
  background-color: white; 
  border: 1px solid black;
  color: black;
  margin-right: 2%;
  margin-left: 3%;
  font-size: 17px;
  width: 127px;
  height: 40px;
  border-radius: 5px;
  bottom: 15px
}

.bulletcap {
  display:initial;
  transition: 5s;
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
  /* display:none; */
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;

  
}
}

#videobox {
  height: 720px;
  width: 90%;
  border: solid 1px #000000;
  background-color: gray;
  margin-right: 3%;
  margin-left: 2.5%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 2.5%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 2.5%;
}

.title {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
}

.nav li{
  --h: 1.2em;

  line-height: 1.2em;
  color: #0000;
  text-shadow: 
      0 0 #000, 
      0 1.2em #0000;
      ;
  overflow: hidden;
  transition: .3s;
}

.nav li{
  --h: 1.2em;

  line-height: 1.2em;
  color: #0000;
  text-shadow: 
      0 0 #000, 
      0 1.2em #0000;
      ;
  overflow: hidden;
  transition: .3s;
}

.nav li.active{
  color: #6B80DB;
  /* background-color: #555; */
}

.nav li:hover{
  /* background-color: #777;
  height: 50px;
  width: 100px; */
  text-shadow: 
  0 -1.2em #0000,
  0 0 #6B80DB;
  
}